<div class="container">
    <div class="card card-register mx-auto mt-5">
        <div class="card-header">Đăng Ký Tài Khoản</div>
        <div class="card-body">
            <md-content layout-padding>
                <form name="frmDangKy">
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6" data-ng-class="{ 'has-error':(frmDangKy.ten.$touched && frmDangKy.ten.$error.required) }">
                                 <md-input-container class="md-block">
                                     <label for="exampleInputName">Tên</label>
                                    <input ng-model="taikhoan.ten" class=""  name="ten" type="text" aria-describedby="nameHelp" placeholder="Nhập Tên" required>
                                    <div data-ng-show="frmDangKy.ten.$touched && frmDangKy.ten.$error.required" class="help-block">
                                        <div ng-message="frmDangKy.ten.$error.required" class="text-danger"> <strong>Lỗi</strong> : <span>Nhập tên</span> !</div>
                                    </div>
                                 </md-input-container>
                            </div>
                            
                            <div class="col-md-6" data-ng-class="{ 'has-error':(frmDangKy.ho.$touched && frmDangKy.ho.$error.required) }">
                                <md-input-container class="md-block">
                                    <label for="exampleInputho">Họ</label>
                                    <input class="" ng-model="taikhoan.ho" id="exampleInputho" name="ho" type="text" aria-describedby="nameHelp" placeholder="Nhập Họ"required>
                                    <div data-ng-show="frmDangKy.ho.$touched && frmDangKy.ho.$error.required" class="help-block">
                                        <div ng-message="frmDangKy.ho.$error.required" class="text-danger"> <strong>Lỗi</strong> : <span>Nhập Họ</span> !</div>
                                    </div>
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <md-input-container class="md-block">
                            <label for="exampleInputEmail1">Tài Khoản Email</label>
                            <input class="" name="email" ng-model="taikhoan.email" type="email" aria-describedby="emailHelp" placeholder="Nhập Email" required>
                            <div data-ng-show="frmDangKy.email.$touched && frmDangKy.email.$error.required" class="help-block">
                                <div ng-message="frmDangKy.email.$error.required" class="text-danger"> <strong>Lỗi</strong> : <span>Nhập Email</span> !</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <md-input-container class="md-block">
                                    <label >Mật Khẩu</label>
                                    <input class="" name="matkhau" ng-model="taikhoan.matkhau" type="password" placeholder="Mật Khẩu" minlength="6" required data-ng-change="kiemtramatkhau(taikhoan.matkhau)">
                                    <div ng-messages="frmDangKy.matkhau.$touched && (frmDangKy.matkhau.$error || matkhausai)">
                                        <span ng-if="frmDangKy.matkhau.$error.minlength" class="text-danger"> <strong>Lỗi</strong> : <span>Mật Khẩu ít nhất 6 ký tự</span> !</span>
                                        <span ng-if="frmDangKy.matkhau.$error.required" class="text-danger"> <strong>Lỗi</strong> : <span>Mật khẩu không được trống</span> !</span>
                                        <span ng-if="matkhausai && !frmDangKy.matkhau.$error.minlength" class="text-danger"> <strong>Lỗi</strong> : <span>
                                            Mật Khẩu phải chứa 1 chữ hoa, 1 chữ thường, 1 chữ số, 1 ký tự đặc biệt
                                                </span> !</span>
                                    </div>
                                </md-input-container>
                            </div>
                            <div class="col-md-6">
                                <md-input-container class="md-block">
                                    <label>Nhập Lại Mật Khẩu</label>
                                    <input class="" id="" ng-model="taikhoan.nhaplaimatkhau" type="password" placeholder="Nhập Lại Mật Khẩu" ng-change="sosanhmatkhau()" >
                                    <div ng-message="(nhaplaimatkhausai && taikhoan.matkhau != '')" class="help-block">
                                        <span data-ng-show="nhaplaimatkhausai && taikhoan.matkhau != ''" class="text-danger"> <strong>Lỗi</strong> : <span>Mật Khẩu Không Giống</span> !</span>
                                    </div>                                    
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-block" data-ng-disabled="!frmDangKy.$valid || nhaplaimatkhausai == true || matkhausai == true" ng-click="dangkytaikhoan(taikhoan)">Đăng Ký</button>
                </form>
            </md-content>
            
            <div class="text-center">
                <a class="d-block small mt-3" href="/TaiKhoan/#!/dangnhap">Đăng Nhập</a>
                <a class="d-block small" href="forgot-password.html">Quên Mật Khẩu</a>
            </div>
        </div>
    </div>
</div>