<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">Đăng Nhập</div>
        <div class="card-body" layout="column">
            <md-content layout-padding>
                <form>
                    <md-input-container class="md-block">
                        <label for="exampleInputEmail1">Tài Khoản Email</label>
                        <input class="" ng-model="taikhoan.email" type="email" aria-describedby="emailHelp" placeholder="Nhập Email">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Mật Khẩu</label>
                        <input class="" ng-model="taikhoan.matkhau" type="password" placeholder="Mật Khẩu">
                    </md-input-container>
                    <div class="form-group">
                        <div class="form-check">
                             <md-checkbox  aria-label="Ghi Nhớ Mật Khẩu">
                                Ghi Nhớ Mật Khẩu
                            </md-checkbox>
                        </div>
                    </div>
                    <md-button class="btn btn-primary btn-block md-raised md-primary" ng-click="dangnhap(taikhoan)">Đăng Nhập</md-button>
                </form>
            </md-content>

            <div class="text-center">
                <a class="d-block small mt-3" href="/TaiKhoan/#!/dangky">Đăng Ký</a>
                <a class="d-block small" href="forgot-password.html">Quên Mật Khẩu?</a>
            </div>
        </div>
    </div>
</div>