
<div class="row margin-bottom-40">
    <div class="sidebar col-md-3 col-sm-5">
        <ul class="list-group margin-bottom-25 sidebar-menu">
            <li ng-repeat="loaisanpham in loaisanpham" class="list-group-item clearfix"><a href="javascript:;" ng-click="laysanphamtheoloai(loaisanpham.id)"><i class="fa fa-angle-right"></i> {{loaisanpham.ten}}</a></li>
            
        </ul>
        <div class="sidebar-products clearfix">
            <h2>Laptop Mới</h2>
            <div class="item " ng-repeat="spmoi in sanphammoinhat">
                <a href="/#!/sanpham/{{spmoi.id}}"><img ng-src="img/sanpham/{{spmoi.hinh}}" ></a>
                <h3><a href="/#!/sanpham/{{spmoi.id}}">{{spmoi.ten}}</a></h3>
                <div class="price">{{spmoi.gia | currency:"VND" : 0 }}</div>
            </div>
        </div>
    </div>
    <div class="col-md-9 col-sm-7">
        <div class="row list-view-sorting clearfix">
            <div class="search-box col-md-8 col-sm-12">
                    <div class="input-group">
                        <input type="text" placeholder="Tìm kiếm" class="form-control" data-ng-model="tukhoa" data-ng-change="timkiemsanpham(tukhoa)">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit" data-ng-click="timkiemsanpham(tukhoa)">Tìm Kiếm</button>
                        </span>
                    </div>
            </div>

            <!--<div class="col-md-4 col-sm-12">
                <div class="pull-right">
                    
                    <label class="control-label">Sort&nbsp;By:</label>
                    <select class="form-control input-sm">
                        <option value="{prototyName: 'name', reverse : false}" selected="selected">Default</option>
                        <option value="#?sort=pd.name&amp;order=ASC">Name (A - Z)</option>
                        <option value="#?sort=pd.name&amp;order=DESC">Name (Z - A)</option>
                        <option value="#?sort=p.price&amp;order=ASC">Price (Low &gt; High)</option>
                        <option value="#?sort=p.price&amp;order=DESC" >Price (High &gt; Low)</option>
                    </select>                    
                </div>
            </div>-->
        </div>

        <div class="row product-list">

            <div dir-paginate="sp in sanpham|itemsPerPage:6" class="col-md-4 col-sm-6 col-xs-12">
                <div class="product-item">
                    <div class="pi-img-wrapper">
                        <img style="height:12em;" ng-src="/img/sanpham/{{sp.hinh}}" class="img-responsive" alt="{{sp.ten}}">
                        <div>
                            <a fancyboxable="{padding:30}" id="image-{{id}}"  data-ng-href="/img/sanpham/{{sp.hinh}}" class="btn btn-default">Phóng Lớn</a>
                            <a class="btn btn-default" ng-click="mosanphamchitietcuaso(sp)">Mở</a>
                        </div>
                    </div>
                    <h3><a href="/#!/sanpham/{{sp.id}}">{{sp.ten}}</a></h3>
                    <div class="pi-price">{{sp.gia | currency:"VND" : 0 }}</div>
                    <a href="javascript:;" class="btn btn-default add2cart" ng-click="themgiohang(sp)">Thêm Giỏ Hàng</a>
                    <div class="sticker sticker-sale" ng-show="sp.giamgia != 0"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <dir-pagination-controls 
                                     boundary-links="true"
                                     max-size="6"
                                     direction-links="true"
                                     auto-hide="true">

            </dir-pagination-controls>
        </div>
    </div>
</div>

