<div class="col-lg-12 container well" style="margin-top: 50px">
        <div class="col-lg-6 col-md-6 col-sm-12 row">

            <div class="input-group col-lg-12">
                <label class="col-md-5">Category Name:</label>
                <input class="col-sm-12 col-md-7 input-sm" type="text" value="" ng-model="category.Name" />

            </div>
            <div class="input-group col-lg-12">
                <label class="col-md-5">Alias:</label>
                <input class="col-sm-12 col-md-7 input-sm" type="text" value="" ng-model="category.Alias" />
            </div> 

            <div class="col-lg-12">
                <div class="input-group-btn">
                    <a class="btn btn-default" href="/Admin/#!/categories">Cancel</a>
                    <button class="btn btn-primary" ng-click="doCreateCategory(category)">Create</button>
                </div>
            </div> 
        </div>
</div>