<!DOCTYPE html>

<html lang="en">
<head>
    
</head>
<body class="ecommerce" ng-app="laptopStoreApp" map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCw6GrFRVeqpa_uIb11jyxcu0h863FLFzY">

    <div class="pre-header">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 additional-shop-info">
                </div>
                <div class="col-md-6 col-sm-6 additional-nav">
                    <ul class="list-unstyled list-inline pull-right">
                        <li data-ng-if="!taikhoan.email"><a href="/TaiKhoan/#!/dangky">Đăng Ký</a></li>
                        <li data-ng-if="!taikhoan.email"><a href="/TaiKhoan/#!/dangnhap">Đăng Nhập</a></li>
                        
                        <li>
                            <div class="top-cart-block">
                                
                                <i class="fa fa-user fa-fw"></i>{{taikhoan.email}} <i class="fa fa-caret-down"></i>

                                <div class="top-cart-content-wrapper tuy-chinh-dropdown">
                                    <div class="top-cart-content">
                                        <ul class="scroller" style="height: 56px;">
                                            <li>
                                                <a href="#" data-ng-click="dangxuat()"><i class="fa fa-sign-out fa-fw"></i> Đăng Xuất</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header">
        <div class="container">
            <a class="site-logo" href="/"><img style="width:51px;height:57px" src="~/img/sanpham/shop_laptop_web-256.png" alt="vidu"></a>
            <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>
            <div class="top-cart-block">
                <div class="top-cart-info">
                    <a href="/#!/giohang" class="top-cart-info-count" data-ng-bind="(giohang.sanpham.length) + ' items'"></a>
                    <a href="/#!/giohang" class="top-cart-info-value" data-ng-bind="(giohang.tongtien | currency:'VND' : 0)"></a>
                </div>
                <i class="fa fa-shopping-cart"></i>

                <div class="top-cart-content-wrapper">
                    <div class="top-cart-content">
                        <ul class="scroller" style="height: 250px;">
                            <li ng-repeat="sanphamtronggiohang in giohang.sanpham">
                                <a class="" href="/#!/sanpham/{{sanphamtronggiohang.id}}"><img ng-src="/img/sanpham/{{sanphamtronggiohang.hinh}}" alt="{{sanphamtronggiohang.ten}}" width="37" height="34"></a>
                                <span class="cart-content-count">x {{sanphamtronggiohang.soluong}}</span>
                                <strong><a href="/#!/sanpham/{{sanphamtronggiohang.id}}">{{sanphamtronggiohang.ten}}</a></strong>
                                <a data-ng-click="xoasanphamtronggiohang(sanphamtronggiohang)" class="del-goods">&nbsp;</a>
                                <em style="width:37%">{{(sanphamtronggiohang.soluong * sanphamtronggiohang.gia) | currency:"VND" : 0}}</em>
                            </li>
                        </ul>
                        <div class="text-right">
                            <a href="/#!/giohang" class="btn btn-default">Xem Giỏ Hàng</a>
                            <a href="/#!/thanhtoan" class="btn btn-primary">Thanh Toán</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="header-navigation">
                <ul>

                    <li><a href="/">Trang Chủ</a></li>
                    <li><a href="/#!/giohang">Trang Giỏ Hàng</a></li>


                    <li class="menu-search">
                        <span class="sep"></span>
                        <i class="fa fa-search search-btn"></i>
                        <div class="search-box">
                            <form action="#">
                                <div class="input-group">
                                    <input type="text" placeholder="Tìm Kiếm" class="form-control">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="submit">Tìm Kiếm</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="page-slider margin-bottom-35 container">
        <div id="carousel-example-generic" class="carousel slide carousel-slider">

            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            </ol>

            <div class="carousel-inner" role="listbox">

                <div class="item carousel-item-four active">
                    <div class="container">
                    </div>
                </div>

                <div class="item carousel-item-five">
                    <div class="container"></div>
                </div>

                <div class="item carousel-item-six">
                    <div class="container"></div>
                </div>

                <div class="item carousel-item-seven">
                    <div class="center-block">
                        <div class="center-block-wrap">
                            <div class="center-block-body"></div>
                        </div>
                    </div>
                </div>
            </div>

            <a class="left carousel-control carousel-control-shop" href="#carousel-example-generic" role="button" data-slide="prev">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
            </a>
            <a class="right carousel-control carousel-control-shop" href="#carousel-example-generic" role="button" data-slide="next">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
        </div>
    </div>

    <div class="main">
        @RenderBody();
    </div>


    <div class="steps-block steps-block-red">
        <div class="container">
            <div class="row">
                <div class="col-md-4 steps-block-col">
                    <i class="fa fa-truck"></i>
                    <div>
                        <h2>Giao Hàng Miễn Phí</h2>
                        <em>Trong Vòng 3 Ngày</em>
                    </div>
                    <span>&nbsp;</span>
                </div>
                <div class="col-md-4 steps-block-col">
                    <i class="fa fa-gift"></i>
                    <div>
                        <h2>Quà Tặng</h2>
                        <em>Cho Tất Cả Khách Hàng</em>
                    </div>
                    <span>&nbsp;</span>
                </div>
                <div class="col-md-4 steps-block-col">
                    <i class="fa fa-phone"></i>
                    <div>
                        <h2>0120 716 9605</h2>
                        <em>Hỗ Trợ 1/7</em>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pre-footer">
        <div class="container">

        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">

                <div class="col-md-4 col-sm-4 padding-top-10">
                    2017 © LaptopStore. <br />
                    ALL Rights Reserved.
                </div>
                <div class="col-md-4 col-sm-4">
                    <ul class="list-unstyled list-inline pull-right">
                        <li><img src="~/assets/corporate/img/payments/western-union.jpg" alt="vidu" title="vidu"></li>
                        <li><img src="~/assets/corporate/img/payments/american-express.jpg" alt="vidu" title="vidu"></li>
                        <li><img src="~/assets/corporate/img/payments/MasterCard.jpg" alt="vidu" title="vidu"></li>
                        <li><img src="~/assets/corporate/img/payments/PayPal.jpg" alt="vidu" title="vidu"></li>
                        <li><img src="~/assets/corporate/img/payments/visa.jpg" alt="vidu" title="vidu"></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-4 text-right">
                    <p class="powered">Powered by: <a href="http://www.google.com/">Ngọc Minh</a></p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
