<div class="col-lg-12 container well"  style="margin-top: 50px">
    <div class="col-md-12 col-lg-12">
        <button class="btn btn-default pull-right" ng-click="enableEditModel()" data-ng-show="!isEditModel">Edit</button>
    </div>
    <div class="">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <img src="../../../img/products/{{product.image}}" alt="{{product.name}}" />
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 row">
            <div class="input-group col-lg-12">
                <label class="col-md-5 col-sm-12">Product Id:</label>
                <p class="col-md-7 col-sm-12" data-ng-show="!isEditModel">{{product.productId}}</p>
                <input  class="col-sm-12 col-md-7 input-sm" type="text" value="{{product.productId}}" readonly ng-model="editProduct.productId" data-ng-show="isEditModel"/>
            </div>
            <div class="input-group col-lg-12">
                <label class="col-md-5">Product Name:</label>
                <p class="col-md-7 col-sm-12" data-ng-show="!isEditModel">{{product.name}}</p>
                <input class="col-sm-12 col-md-7 input-sm" type="text" value="{{product.name}}" ng-model="editProduct.name" data-ng-show="isEditModel" />

            </div>
            <div class="input-group col-lg-12">
                <label class="col-md-5">Category Id:</label>
                <p class="col-md-7" data-ng-show="!isEditModel">{{product.cateId}}</p>
                <select data-ng-show="isEditModel" ng-options="category.cateId for category in categories" ng-model="editProduct.cateId">

                </select>
            </div>
            <div class="input-group col-lg-12">
                <label class="col-md-5">Price:</label>
                <p class="col-md-7" data-ng-show="!isEditModel">{{product.price}}</p>
                <input class="col-sm-12 col-md-7 input-sm" type="number" value="{{product.price}}" ng-model="editProduct.price" data-ng-show="isEditModel" />
            </div>
            <div class="input-group col-lg-12">
                <label class="col-md-5">Discount:</label>
                <p class="col-md-7 col-sm-12 " data-ng-show="!isEditModel">{{product.discount}}</p>
                <input class="col-sm-12 col-md-7 input-sm" type="number" value="{{product.discount}}" ng-model="editProduct.discount" data-ng-show="isEditModel" />
            </div>
            <div class="input-group col-lg-12">
                <label class="col-md-5">Quantity:</label>
                <p class="col-md-7 col-sm-12 " data-ng-show="!isEditModel">{{product.quantity}}</p>
                <input class="col-sm-12 col-md-7 input-sm" type="number" min="1" value="{{product.quantity}}" ng-model="editProduct.quantity" data-ng-show="isEditModel" />
            </div>
            <div class="input-group col-lg-12">
                <label class="col-md-5">Description:</label>
                <p class="col-md-7 col-sm-12 " data-ng-show="!isEditModel">{{product.description}}</p>
                <textarea class="col-sm-12 col-md-7 input-sm" ng-model="editProduct.description" data-ng-show="isEditModel" data-ng-bind="product.description">
                    
                </textarea>
            </div>
            <div class="input-group col-lg-12">
                <label class="col-md-5">Status:</label>
                <p class="col-md-7 col-sm-12 " data-ng-show="!isEditModel">{{product.status}}</p>
                <input class="col-sm-12 col-md-7 input-sm" type="text" min="1" value="{{product.status}}" ng-model="editProduct.status" data-ng-show="isEditModel" />
            </div> 

            <div class="col-lg-12" data-ng-show="isEditModel">
                <div class="input-group-btn">
                    <button class="btn btn-default" data-ng-click="isEditModel = !isEditModel">Cancel</button>
                    <button class="btn btn-primary" data-ng-click="updateProduct(editProduct)">Save</button>
                </div>
            </div>
        </div>
        
    </div>
</div>