
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="container" ng-controller="RegisterController">
        <div class="card card-register mx-auto mt-5">
            <div class="card-header">Đăng Ký Tài Khoản</div>
            <div class="card-body">
                <form name="frmRegister">
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6" data-ng-class="{ 'has-error':(frmRegister.ten.$touched && frmRegister.ten.$error.required) }">
                                <label for="exampleInputName">Tên</label>
                                <input ng-model="account.ten" class="form-control" id="exampleInputName" name="ten" type="text" aria-describedby="nameHelp" placeholder="Nhập Tên" required>
                                <div data-ng-show="frmRegister.ten.$touched && frmRegister.ten.$error.required" class="help-block">
                                    <span data-ng-show="frmRegister.ten.$error.required" class="text-danger"> <strong>Lỗi</strong> : <span>Nhập tên</span> !</span>
                                    <!--<span class="xpaas-error-message-color" data-ng-show="frmProject.name.$error.minlength"> <strong data-translate="ERROR">:</strong>Project name must be more than 3 words</span>-->
                                </div>
                            </div>
                            
                            <div class="col-md-6" data-ng-class="{ 'has-error':(frmRegister.ho.$touched && frmRegister.ho.$error.required) }">
                                <label for="exampleInputho">Họ</label>
                                <input class="form-control" ng-model="account.ho" id="exampleInputho" name="ho" type="text" aria-describedby="nameHelp" placeholder="Nhập Họ"required>
                                <div data-ng-show="frmRegister.ho.$touched && frmRegister.ho.$error.required" class="help-block">
                                    <span data-ng-show="frmRegister.ho.$error.required" class="text-danger"> <strong>Lỗi</strong> : <span>Nhập Họ</span> !</span>
                                    <!--<span class="xpaas-error-message-color" data-ng-show="frmProject.name.$error.minlength"> <strong data-translate="ERROR">:</strong>Project name must be more than 3 words</span>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input class="form-control" id="exampleInputEmail1" name="email" ng-model="account.email" type="email" aria-describedby="emailHelp" placeholder="Enter email" required>
                        <div data-ng-show="frmRegister.email.$touched && frmRegister.email.$error.required" class="help-block">
                            <span data-ng-show="frmRegister.email.$error.required" class="text-danger"> <strong>Error</strong> : <span>Please provide email</span> !</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="exampleInputPassword1">Mật Khẩu</label>
                                <input class="form-control" id="exampleInputPassword1" name="matkhau" ng-model="account.matkhau" type="password" placeholder="Mật Khẩu" minlength="6" required data-ng-change="kiemtraMatKhau(account.matkhau)">
                                <div data-ng-show="frmRegister.matkhau.$touched && frmRegister.matkhau.$error.required || matkhausai || frmRegister.password.$error.minlength" class="help-block">
                                    <span data-ng-show="frmRegister.password.$error.minlength" class="text-danger"> <strong>Error</strong> : <span>Passwords must be 6 characters long</span> !</span>
                                    <span data-ng-show="frmRegister.password.$error.required" class="text-danger"> <strong>Error</strong> : <span>Password cannot empty</span> !</span>
                                    <span data-ng-show="passwordIsWrong && !frmRegister.password.$error.minlength" class="text-danger"> <strong>Error</strong> : <span>
                                         Password must contain at least one lowercase letter, one uppercase letter, and one special character
                                             </span> !</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="exampleConfirmPassword">Confirm password</label>
                                <input class="form-control" id="exampleConfirmPassword" ng-model="account.confirmPassword" type="password" placeholder="Confirm password" data-ng-change="comparePassword()" >
                                <div data-ng-show="isConfirmPasswordWrong" class="help-block">
                                    <span data-ng-show="isConfirmPasswordWrong" class="text-danger"> <strong>Error</strong> : <span>Passwords do not match</span> !</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-block" data-ng-disabled="!frmRegister.$valid || isConfirmPasswordWrong == true || passwordIsWrong == true" ng-click="doRegisterAccount(account)">Register</button>
                </form>
                <div class="text-center">
                    <a class="d-block small mt-3" href="/Account/Login">Login Page</a>
                    <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
                </div>
            </div>
        </div>
    </div>