
<div class="row margin-bottom-40">
  <div class="sidebar col-md-3 col-sm-5">
      <ul class="list-group margin-bottom-25 sidebar-menu">
          <li *ngFor="let loaisanpham of loaisanpham" class="list-group-item clearfix"><a href="javascript:;" (click)="laysanphamtheoloai(loaisanpham.id)"><i class="fa fa-angle-right"></i> {{loaisanpham.ten}}</a></li>
      </ul>
      <div class="sidebar-products clearfix" *ngIf="sanphammoinhat">
          <h2>Laptop Mới</h2>
          <div class="item " *ngFor="let spmoi of sanphammoinhat">
              <a routerLink="/sanpham/{{spmoi.id}}"><img src="./assets/img/sanpham/{{spmoi.hinh}}" ></a>
              <h3><a routerLink="/sanpham/{{spmoi.id}}">{{spmoi.ten}}</a></h3>
              <div class="price">{{spmoi.gia | currency:"VND" : 0 }}</div>
          </div>

          <div class="row">
            <p>Lọc Theo Giá</p>
            <mat-slider class="col-xs-12" thumbLabel [displayWith]="dinhdanggiatien" min="{{thanhlocgia.gianhonhat}}" max="{{thanhlocgia.gialonnhat}}" step="{{thanhlocgia.tuychon.buoc}}" tickInterval="{{thanhlocgia.tuychon.buoc}}" *ngIf="thanhlocgia.gialonnhat && thanhlocgia.gianhonhat" [(ngModel)]="giaduocchon" (change)="laysanphamtheogia()"></mat-slider>
          </div>
      </div>
  </div>
  <div class="col-md-9 col-sm-7">
      <div class="row list-view-sorting clearfix">
          <div class="search-box col-md-8 col-sm-12">
                    <mat-form-field class="">
                        <input matInput type="text" placeholder="Tìm kiếm" value="" [(ngModel)]="tukhoa" [ngModelOptions]="{standalone: true}" (change)="timkiemsanpham(tukhoa)">
                    </mat-form-field>

                    <button mat-raised-button (click)="timkiemsanpham(tukhoa)">Tìm Kiếm</button>
                  <!-- <md-content>
                      <div class="input-group">
                          <md-input-container class="md-block">
                              <label></label>
                              <input type="text" placeholder="" class="form-control" >
                          </md-input-container>
                          <span class="input-group-btn">
                          </span>
                      </div>
                  </md-content> -->
          </div>

          <!--<div class="col-md-4 col-sm-12">
              <div class="pull-right">
                  
                  <label class="control-label">Sort&nbsp;By:</label>
                  <select class="form-control input-sm">
                      <option value="{prototyName: 'name', reverse : false}" selected="selected">Default</option>
                      <option value="#?sort=pd.name&amp;order=ASC">Name (A - Z)</option>
                      <option value="#?sort=pd.name&amp;order=DESC">Name (Z - A)</option>
                      <option value="#?sort=p.price&amp;order=ASC">Price (Low &gt; High)</option>
                      <option value="#?sort=p.price&amp;order=DESC" >Price (High &gt; Low)</option>
                  </select>                    
              </div>
          </div>-->
      </div>

      <div class="row product-list" *ngIf="sanpham">

          <div *ngFor="let sp of sanpham" class="col-md-4 col-sm-6 col-xs-12">
              <div class="product-item">
                  <div class="pi-img-wrapper">
                      <img style="height:12em;" src="{{'assets/img/sanpham/' + sp.hinh}}" class="img-responsive" alt="{{sp.ten}}">
                      <div>
                          <a fancyboxable="{padding:30}" id="image-{{id}}"  href="/img/sanpham/{{sp.hinh}}" class="btn btn-default">Phóng Lớn</a>
                          <a class="btn btn-default" (click)="mosanphamchitietcuaso(sp)">Mở</a>
                      </div>
                  </div>
                  <h3><a routerLink="/sanpham/{{sp.id}}">{{sp.ten}}</a></h3>
                  <div class="pi-price">{{sp.gia | currency:"VND" }}</div>
                  <a href="javascript:;" class="btn btn-default add2cart" (click)="themgiohang(sp)">Thêm Giỏ Hàng</a>
                  <div class="sticker sticker-sale" *ngIf="sp.giamgia != 0"></div>
              </div>
          </div>
      </div>
      <div class="row">
          <!-- <dir-pagination-controls 
                                   boundary-links="true"
                                   max-size="6"
                                   direction-links="true"
                                   auto-hide="true">

          </dir-pagination-controls> -->
      </div>
  </div>
</div>
