<!-- BEGIN CONTENT -->
<div class="col-md-12 col-sm-12">
    <div class="product-page">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="product-main-image">
                    <img src="../img/sanpham/{{chitietsanpham.hinh}}" alt="{{chitietsanpham.ten}}-img" class="img-responsive">
                </div>
                <div class="product-other-images">
                    <!--<a href="assets/pages/img/products/model3.jpg" class="fancybox-button" rel="photos-lib"><img alt="Berry Lace Dress" src="assets/pages/img/products/model3.jpg"></a>
                    <a href="assets/pages/img/products/model4.jpg" class="fancybox-button" rel="photos-lib"><img alt="Berry Lace Dress" src="assets/pages/img/products/model4.jpg"></a>
                    <a href="assets/pages/img/products/model5.jpg" class="fancybox-button" rel="photos-lib"><img alt="Berry Lace Dress" src="assets/pages/img/products/model5.jpg"></a>-->
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <h1>{{chitietsanpham.ten}}</h1>
                <div class="price-availability-block clearfix">
                    <div class="price">
                        <strong style="font-size: 160%" class="input-sm">{{chitietsanpham.gia | currency:"VND" : 0}}</strong>
                        <em><span>{{(chitietsanpham.gia + (chitietsanpham.gia * chitietsanpham.giamgia)) | currency:"VND" : 0}}</span></em>
                    </div>
                    <div class="availability">
                        Trạng Thái: <strong>{{chitietsanpham.trangThai}}</strong>
                    </div>
                </div>
                <div class="description" ng-bind-html="chitietsanpham.moTa">
                    
                </div>
                <div class="product-page-cart">
                    <div class="product-quantity">
                        <input id="product-quantity" type="number" value="{{chitietsanpham.soluong}}" min="1" class="form-control input-sm" ng-model="chitietsanpham.soluong">
                    </div>
                    <button class="btn btn-primary" type="submit" ng-click="themvaogiohang(chitietsanpham)">Thêm Vào Giỏ Hàng</button>
                </div>
                
                <ul class="social-icons">
                    <li><a class="facebook" data-original-title="facebook" href="javascript:;"></a></li>
                    <li><a class="twitter" data-original-title="twitter" href="javascript:;"></a></li>
                    <li><a class="googleplus" data-original-title="googleplus" href="javascript:;"></a></li>
                    <li><a class="evernote" data-original-title="evernote" href="javascript:;"></a></li>
                    <li><a class="tumblr" data-original-title="tumblr" href="javascript:;"></a></li>
                </ul>
            </div>
            <div>
                <uib-tabset active="active" class="product-page-content">
                    <uib-tab index="0" heading="Mô Tả">
                        <div ng-bind-html="chitietsanpham.moTa"></div>
                    </uib-tab>
                </uib-tabset>
            </div>
            <div class="sticker sticker-sale" ng-show="chitietsanpham.giamgia != 0"></div>
        </div>
    </div>
</div>
